<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="10000092"
    android:versionName="1.0 (10000092)"
    android:compileSdkVersion="35"
    android:compileSdkVersionCodename="15"
    package="com.harleytg.forum"
    platformBuildVersionCode="35"
    platformBuildVersionName="15">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/htg_app_logo"
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="com.harleytg.forum.HcfApplication$App">

        <meta-data android:name="com.harleytg.BUILD_CHANNEL" android:value="stable"/>
        <meta-data android:name="com.harleytg.APP_VERSION" android:value="1.0 (10000092)"/>
        <meta-data android:name="com.harleytg.APP_VERSION_CODE" android:value="10000092"/>
        <meta-data android:name="com.harleytg.APP_BRAND" android:value="Harley&apos;s Studios"/>
        <meta-data android:name="com.harleytg.SESSION_CLIENT" android:value="Harley&apos;s Clan Forum App"/>
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="true"/>

        <provider
            android:name="com.harleytg.forum.HcfUpdateEngine$UpdateFileProvider"
            android:exported="false"
            android:authorities="com.harleytg.forum.updatefiles"
            android:grantUriPermissions="true"/>
        <provider
            android:name="com.harleytg.forum.HcfNativeRoutes$BootstrapProvider"
            android:exported="false"
            android:authorities="com.harleytg.forum.nativeroutes"
            android:initOrder="104"/>
        <provider
            android:name="com.harleytg.forum.HcfSessionPersistence$BootstrapProvider"
            android:exported="false"
            android:authorities="com.harleytg.forum.sessionpersistence"
            android:initOrder="103"/>
        <provider
            android:name="com.harleytg.forum.HcfAppLinksConfig$BootstrapProvider"
            android:exported="false"
            android:authorities="com.harleytg.forum.applinksconfig"
            android:initOrder="102"/>
        <provider
            android:name="com.harleytg.forum.HcfDiscordObservation$BootstrapProvider"
            android:exported="false"
            android:authorities="com.harleytg.forum.discordobservation"
            android:initOrder="101"/>

        <activity android:name="com.harleytg.forum.HcfMainActivities$SetupActivity" android:exported="false"/>
        <activity android:name="com.harleytg.forum.HcfSubActivities$SettingsActivity" android:exported="false"/>
        <activity android:name="com.harleytg.forum.HcfSubActivities$LogsActivity" android:exported="false"/>
        <activity android:name="com.harleytg.forum.HcfSubActivities$IdentityActivity" android:exported="false"/>
        <activity android:name="com.harleytg.forum.HcfSubActivities$NotificationActivity" android:exported="false"/>
        <activity android:name="com.harleytg.forum.HcfSubActivities$NotificationTestActivity" android:exported="false"/>
        <activity android:name="com.harleytg.forum.HcfBanSystem$BanActivity" android:exported="false"/>
        <activity android:name="com.harleytg.forum.HcfBanSystem$GateActivity" android:exported="false"/>
        <activity android:name="com.harleytg.forum.HcfUITheme$StartupActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="forum.harleytg.com"/>
                <data android:scheme="https" android:host="harleysclan.freeflarum.com"/>
            </intent-filter>
        </activity>
        <activity android:name="com.harleytg.forum.HcfUITheme$StartupStatusActivity" android:exported="false"/>
        <activity android:name="com.harleytg.forum.HcfMainActivities$WelcomeActivity" android:exported="false"/>
        <activity android:name="com.harleytg.forum.HcfMainActivities$MainActivity" android:exported="false"/>

        <service android:name="com.harleytg.forum.HcfNotificationEngine$NotificationSyncJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <service android:name="com.harleytg.forum.HcfUpdateEngine$UpdateCheckJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>

        <receiver android:name="com.harleytg.forum.HcfUpdateEngine$UpdateDownloadReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
